.mainColor {
    background-image: url("https://i.imgur.com/v9iGEpF.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}

button {
    height: 45px;
    width: 100px;
    border-radius: 20px;
    background-color: #2979FF;
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
}

#start {
    height: 45px;
    width: 100px;
    border-radius: 20px;
    background-color: #2979FF;
    color: white;
    margin-top: 60px;
}

#start a{
    color: white;
    text-decoration: none;
}



.imgR {
    background-image: url("https://i.imgur.com/uBmc3KN.png");
    background-size: 70px;
    background-repeat: no-repeat;
    
}

ul {
    display:flex;
    list-style: none;  
    margin-left: 140px;
    margin-top: 60px;
    margin-bottom: 60px;
    /* margin: 40px;
    max-width: 350px;
    display: inline-block; */
}

.main {
    margin-bottom: 90px;
}

.hideMe {
    display: none;
}

.wrong {
    background-color: #f54949;
    border-radius: 10px;
    color: white;
    height: 20px;
    width: 60px;
}

.correct {
    background-color: #49f57d;
    border-radius: 10px;
    height: 20px;
    width: 60px;
}

.titlePage {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #212121;
}

#page2 {
    font-family: 'IBM Plex Sans', sans-serif;
    border-radius: 10px;
    background-color: #536DFE;
    text-align: center;
    width: 200px;
    height: 40px;
    color: white;
}

header {
    text-align: center;
}

.logo {
    text-align: center;
    size: 2rem;
}

div {
    text-align: center;
}

.quiz_wrapper {
    height: 400px;
    width: 650px;
    background-color: white;
    margin: 50px auto;
    border-radius: 8px;
    padding: 30px;
}

img {
    max-width: 20%;
    height:auto;
    border-block-color: white;
}

a {
    color: white;
}

li {
    margin-right: 50px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
















    /* display:flex;
    display: inline-flex;
    list-style: none;

    height:auto;
    margin-right: 0px;
    margin-left: 0px; */


    /* height: 100px;
    width: 300px; */
    /* margin-left: 0px;
    margin-right: 100px; */
    /* margin-left: 90px;
    margin-top: 10px;
    margin-bottom: 50px; */
    /* margin: 40px; */
    /* width: 500px;
    height: 500px; */




