.mainColor {
    background-color: #00e676;
}

button {
    height: 45px;
    width: 100px;
    border-radius: 20px;
    background-color: #2979FF;
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
}

#start {
    height: 45px;
    width: 100px;
    border-radius: 20px;
    background-color: #2979FF;
    color: white;
}

#start a{
    color: white;
    text-decoration: none;
}

ul {
   display: inline;
}

.hideMe {
    display: none;
}

.titlePage {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #bbdefb;
}

#page2 {
    font-family: 'IBM Plex Sans', sans-serif;
    border-radius: 10px;
    background-color: #536DFE;
    text-align: center;
    width: 200px;
    height: 40px;
    color: white;
}

header {
    text-align: center;
}

.logo {
    text-align: center;
    size: 2rem;
}

div {
    text-align: center;
}

.quiz_wrapper {
    height: 400px;
    width: 650px;
    background-color: white;
    margin: 50px auto;
    border-radius: 8px;
    padding: 30px;
}

img {
    max-width: 20%;
    height:auto;
    border-block-color: white;
}